<!doctype html>
<html>
<head>
    <title>Election Dataset</title>
    <!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style type="text/css">
        body {
            margin: 0;
        }

        .page {
            padding: 1em;
        }

        #container {
            position: absolute;
            width: 100%;
            height: 100%;
        }
        li {
            display: inline;
            list-style: none;
        }
        .link_boxed {
            padding: .25em;
            line-height: 2em;
            border-style: solid;
            border-color: #ccc;
            border-width: 1px;
        }
        .link_boxed_active {
            background-color: #ddd;
        }
        .boxed_small {
            font-size: 0.75em;
            line-height: 2em;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Election Dataset</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/cluster/">K-Means Cluster</a></li>
            <li><a href="/tagnet/">Tag Network</a></li>
            <li><a href="/chart_g/">Hashtag History</a></li>
            <li><a href="/tagHistory/">Selected Hashtag History</a></li>
        </ul>
    </div>
</nav>
<div class=page>

    <!-- BODY -->

    {% block body %}{% endblock %}

    <!-- END BODY -->
</div>
<footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};
        for (var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                    graphs[i].data,
                    graphs[i].layout || {});
        }
    </script>
</footer>
</body>
</html>
