{% extends "frame.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-*">
                <h2>History</h2>
                <p>This bar chart deals with the occurrences of the given hashtags. By hovering over the bars you can see how
            many hashtags appeared on this day. Notable is the last entry on September 26 with
            104 hashtag occurrences. We could assume that it is due to the first presidential debate which
            took place that day. If you are furthermore interested you can interpret the data for yourself.</p>
            </div>
        </div>
    </div>

    {% for id in ids %}
    <div id="{{ id }}"></div> <!--width: 80%;-->
    {% endfor %}


{% endblock %}

