{% extends "frame.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-*">
                <h2>Election Dataset</h2>
                <p><b>Project Group:</b> Hanna Pfannschmidt, Nicolo Knapp, Gerold Schneider</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-*">
            <a href="http://archive.is/NSIPF">
                <img src="../img/TruCli.jpg" width="30%" alt="Trump/Clinton - Topic of this site"
                     style="">
            </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                <h3>About this Site:</h3>

                <p>Not just because we <i>had</i> to, but because it is important to learn new things and to improve
                    your skills whenever you can, we developed this page. In the course "DataBase Systems" we were
                    introduced to the data concerning the election of the candidates Hillary Clinton and Donald Trump.
                    To use the data for evaluation, we had to clean it and store it in a database.
                    What is seen on this site results from a semester-long project. Everyone contributed their own part
                    to this website. You can find different analysis tools on this site.</p>

                <h3>About Trump and Clinton:</h3>

                <p>The original table consisted of the columns: handle, text,
                    is_retweet, original_author, time, in_reply_to_screen_name, is_quote_status, retweet_count,
                    favorite_count, source_url, truncated and had 6127 entries. The most relevant characteristics
                    of the available tweets are the text of course, the handle and the time. We had a special
                    look upon the hashtags used in every tweet. For them we created a new relation in our database and
                    built
                    some nice tools to analyse the hashtags. For example you can navigate through the hashtags and
                    discover
                    <a href="http://127.0.0.1:8000/tagHistory/">how often they appear</a> over time in the tweets
                    (related to Donald Trump or Hillary Clinton). The 'tweeting' was previous to the time of the
                    presidential
                    election from January 5th to September 28th.</p>

                <h3>About us:</h3>

                <p>Some call us Team <b>KPS</b>. We are three students from Berlin, working together on this project.
                    Nicolo has some practical experience in Web-Service development utilizing current tools and
                    infrastructure.
                    Hanna had no experiences with databases, JavaScript and SQL and was excited to learn a lot of new
                    things
                    that she will be able to utilize later on. She could satisfy her thirst for knowledge in this case.
                    Gerold has some practical experience from the early 2000s in developing dynamic web-services in the
                    self-publishing domain and could contribute a lot to this project.</p>

                <h3>What is missing:</h3>
                <p>There is no manual for using this site. If you are curious for information just test anything you
                    want.</p>
            </div>
        </div>
    </div>
{% endblock %}
