{% extends "frame.html" %}
{% block body %}
    <!--<form>
    <div class="form-group">
        <label for="count">Cluster count:</label>
        <input type="text" class="form-control" id="count">
    </div>
    </form>-->

    <div class="container">
        <div class="row">
            <div class="col-md-*">
                <h2>K-Means Clustering</h2>
                <p>In this plot each point represents a hashtag plotting the standard deviation of its
                    occurrences (dates) vs. its average reach (via occurrence, retweets and favorites).
                    So the first value is the deviation of the occurences of one hashtag and the second is
                    calculated by dividing the sum of "how often retweeted" and "how often set favorite" by the
                    frequency of occurrences. <br>
                    The points (hashtags) are allocated to clusters by the
                    <a href="https://de.wikipedia.org/wiki/K-Means-Algorithmus">k-Mean-Algorithm</a>. Being together
                    in a cluster means having a mutuality. Defining the similarity is not that simple. You can switch
                    between the number of clusters by adding a number in the url (e.g. /8) or by using one of the given
                    links. <br>
                    The most interesting thing could may be a hashtag being really popular but appears on not many days,
                    e.g. <a href="/tagHistory/DebateNight/">#DebateNight</a>, because it was used just the last two days
                    of our time range.
                </p>
            </div>
        </div>
        <div id="nav">
        <ul>
            <li>Select:</li>
            <li class="link_boxed"><a href="/cluster/3/">3 clusters</a></li>
            <li class="link_boxed"><a href="/cluster/5/">5 clusters</a></li>
            <li class="link_boxed"><a href="/cluster/9/">9 clusters</a></li>
            <li class="link_boxed"><a href="/cluster/15/">15 clusters</a></li>
        </ul>
        </div>
        <div class="row">
            <div class="col-md-*">

                {% for id in ids %}
                <!--<h3>{{id}}</h3>-->
                <div id="{{ id }}"></div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
