{% extends "frame.html" %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-*">
                <h2>Tag History</h2>
                <p>By clicking on a hashtag you create a new diagram that shows when the selected hashtag was used in
                    the time range from January 4th to September 26th. If you hover over a bar you see how often the
                    hashtag was used on that particular day. If you want an overview of the frequencies of the hashtags
                    per day visit <a href="chart_g/">the hashtag history</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
                {% for id in ids %}
                    <div id="{{ id }}"></div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-*">
            <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Select a hashtag <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for item in tag_link_list %}
                            {% if item == selected_tag %}<li class="active"><a href="/tagHistory/{{ item | safe }}/">#{{ item }}</a></li>
                            {% else %}<li><a href="/tagHistory/{{ item | safe }}/">#{{ item }}</a></li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div id="tag_nav">
                    <ul style="padding-left:0;">
                        <li>100 most frequently used tags:</li>
                        {% for item in tag_link_list[:100] %}
                            {% if item == selected_tag %}
                                <li class="link_boxed link_boxed_active boxed_small"><a
                                        href="/tagHistory/{{ item | safe }}/">#{{ item }}</a></li>
                            {% else %}
                                <li class="link_boxed boxed_small"><a
                                        href="/tagHistory/{{ item | safe }}/">#{{ item }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% for id in ids %}
        <div id="{{ id }}"></div>
    {% endfor %}
{% endblock %}
