{% extends "frame.html" %}
{% block body %}
    <div id="container" style="clear:both;"></div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Tag Network</h2>
                <p>In this graph each node represents a Hashtag. They are connected by an edge if they ever occured
                    together in one
                    tweet. To illustrate similarity between tags we run a
                    <a href="https://en.wikipedia.org/wiki/Force-directed_graph_drawing">force directed graph
                        drawing</a>
                    <a href="https://github.com/jacomyal/sigma.js/tree/master/plugins/sigma.layout.forceAtlas2">algorithm</a>
                    that iteratively organizes the graph into a shape that emphasises tags which are occuring together into
                    islands and even makes transitive connections easily discoverable.</p>
            </div>
        </div>
    </div>
    <script src="/js/sigma.js"></script>
    <script src="/js/sigma.layout.forceAtlas2.min.js"></script>
    <script>
        // Let's first initialize sigma:
        var settings = new sigma.classes.configurable({});
        var s = new sigma({
            container: 'container',
            settings: {
                edgeHoverPrecision: 100,
                minNodeSize: 2,
                maxNodeSize: 25,
                labelThreshold: 4
            }
        });

        s.graph.read({{ graph | safe }});
        var config = {
            edgeWeightInfluence: 0,
            gravity: .1,
            barnesHutOptimize: false,
            strongGravityMode: true,
            scalingRatio: 30,
            linLogMode: true
            //adjustSizes: true
        };
        s.startForceAtlas2(config);
        // s.startNoverlap();

        setTimeout(function () {
            s.stopForceAtlas2()
        }, 10000);
        // Finally, let's ask our sigma instance to refresh:
        s.refresh();
    </script>

{% endblock %}
